.popup{
  padding: 10px;
  width: 35vw;
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
      color: var(--purple);
    }
  }
  .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .left-side{
      img{
        max-width: 200px;
        max-height: 200px;
      }
    }
    .spacer{
      width: 5%;
    }
    .right-side{
      li{
        font-size: large;
      }
      li:hover{
        color: var(--purple);
        cursor: pointer;
      }
    }
  }
}
@media (max-width :815px){
  .popup{
    padding: 8px;
    width: 80vw;
  }
}
@media(max-width : 600px){
  .popup{
    padding: 8px;
    width: 80vw;
  }
  .flex-container{
    flex-direction: column;
  }
}