<!-- Team -->
<div class="py-24 bg-gray-200">
  <div class="container">
    <div>
      <h2 class="text-center mb-8">Choose your model
        to calculate the cost:</h2>
    </div>
    <div class="flex items-center flex-wrap -mx-4">
      <div class="w-full sm:w-1/2 lg:w-3/12 px-2 xxl:px-4 mt-4">
        <div class="member">
          <div class="member__image">
            <img src="assets/images/phones/phone1.png" alt="Team photo" />
          </div>
          <div class="member__desc px-6 pt-2 pb-8">
            <h3 class="name font-medium text-xl">Steve Jobs</h3>
            <h6 class="designation font-light text-sm">Chief executive officer</h6>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-3/12 px-2 xxl:px-4 mt-4">
        <div class="member">
          <div class="member__image">
            <img src="assets/images/phones/phone2.png" alt="Team photo" />
          </div>
          <div class="member__desc px-6 pt-2 pb-8">
            <h3 class="name font-medium text-xl">Ashley Queen</h3>
            <h6 class="designation font-light text-sm">Chief marketing officer</h6>
          </div>
          
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-3/12 px-2 xxl:px-4 mt-4">
        <div class="member">
          <div class="member__image">
            <img src="assets/images/phones/phone3.png" alt="Team photo" />
          </div>
          <div class="member__desc px-6 pt-2 pb-8">
            <h3 class="name font-medium text-xl">Sajal Mia</h3>
            <h6 class="designation font-light text-sm">Senior software engineer</h6>
          </div>
          
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-3/12 px-2 xxl:px-4 mt-4">
        <div class="member">
          <div class="member__image">
            <img src="assets/images/phones/phone4.png" alt="Team photo" />
          </div>
          <div class="member__desc px-6 pt-2 pb-8">
            <h3 class="name font-medium text-xl">Bil Gate</h3>
            <h6 class="designation font-light text-sm">Software engineer</h6>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>