.ll_header {
  padding: 15px 0;
  @apply bg-gray-50;
  &.top-fixed {
    @apply fixed -inset-x-0 top-0;
    padding: 15px 0;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 0.5s ease;
  }
  color : white;
}
.ll_header.navbar-inverse{
  padding: 15px 0;
  @apply bg-gray-50;
  &.top-fixed {
    @apply fixed -inset-x-0 top-0;
    padding: 15px 0;
    z-index: 9999;
    background-color: white;
    transition: background-color 0.5s ease;
  }
  color : rgb(82, 82, 82);
}
.logo {
  max-width: 120px;
}
._sidenav__toggler {
  $iconSize: 30px;
  $buttonSize: 42px;
  height: $buttonSize;
  width: $buttonSize;
  .mat-icon {
    font-size: $iconSize;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
  }
}

.shop{
  align-items: right;
  margin-bottom: -7px;
}

@media (min-width: 768px) {
  .logo {
    max-width: 145px;
  }
  ._sidenav__toggler {
    $iconSize: 38px;
    $buttonSize: 52px;
    height: $buttonSize;
    width: $buttonSize;
    .mat-icon {
      font-size: $iconSize;
      height: $iconSize;
      width: $iconSize;
      line-height: $iconSize;
    }
  }
}

.guest{
  font-size: 45px;
}

.logo-img{
  height: 8vh;
  border-radius: 10px;
}