<header class="ll_header" [class.top-fixed]="topFixed" [ngClass]="{ 'bg-gray-50 shadow': topFixed && isScrolled }">
  <div class="container">
    <div class="flex items-center">


      <div class="flex items-center">
        <a class="logo" [routerLink]="['']">
          <img src="assets/images/logov1.jpg" alt="Logo" class="logo-img"/>
        </a>
        <ul class="flex item-center ml-5" *ngIf="!isLessThenLargeDevice && menuList && menuList.length">
          <li *ngFor="let menu of menuList">
            <a mat-button [routerLink]="[menu.path]"  class="text-lg font-bold py-2 px-5">{{ menu.name }}</a>
          </li>
        </ul>
        <button 
        *ngIf="isLoggedIn && isLessThenLargeDevice && !isTablet"
        mat-icon-button 
        class="_sidenav__toggler ml-auto md:ml-3 ms-sm-3 md:flex ml-auto shop">
         <mat-icon>shopping_cart</mat-icon>
       </button>
      </div>

      <button
        *ngIf="isLessThenLargeDevice"
        (click)="toggleSidenav.emit()"
        class="_sidenav__toggler ml-auto md:ml-3 ms-sm-3"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="hidden items-center md:flex ml-auto">
        <button mat-icon-button >
          <mat-icon class="guest">account_circle</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <button *ngIf="isLoggedIn && isTablet"
             mat-icon-button 
             class="_sidenav__toggler ml-auto md:ml-3 ms-sm-3 md:flex ml-auto shop">
             <mat-icon>shopping_cart</mat-icon>
       </button>
      
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="openLogin()"  *ngIf='!isLoggedIn' >
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item (click)="openSignup()"  *ngIf='!isLoggedIn'>
            <mat-icon>input</mat-icon>
            <span>Signup</span>
          </button>


          <button mat-menu-item routerLink="/profile"  *ngIf='isLoggedIn'>
            <mat-icon>home</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()"  *ngIf='isLoggedIn'>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>

        </mat-menu>
      </div>



    </div>
  </div>
</header>
