
<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold" style="font-family: 'Righteous', cursive;">
          Sell Your New and Used Apple Electronics.
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <div class="inline-block mr-5 text-white">We Buy:</div>
          <a routerLink="products/list/iPhone"class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">iPhone</a>
          <a [routerLink]="'/products/list/Mac'"  class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Mac</a>
          <a [routerLink]="'/products/list/iWatch'" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">iWatch</a>
          <a [routerLink]="'/products/list/iPad'" class="rounded-full bg-white px-5 py-2 bg-opacity-40">iPad</a>
        </div>
        <br>
        <br>
       
        <button class="button-56" role="button" (click)="scroll(target)">Start now</button>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="hero ml-auto main-img" src="assets/images/hero3.png" alt="Hero" />
      </div>
    </div>
  </div>
</div>
<div class="test" #target> 
<app-category  id="categories"></app-category>
</div>
<div class="ll-service-area">
  <div class="container">
    <h1 class="ll-service__title text-center font-extralight mb-12">It's As Easy As 1, 2, 3.</h1>
    <div class="ll-services grid grid-cols-12 gap-8">
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2">Browse offers</h3>
        <p>Search from my list of offers to find your device</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2">Pick a device </h3>
        <p>Less waste time & cost but get more value.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2">Ship for FREE or meet us in person</h3>
        <p>Our work begins with the commissioning, not yours.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2">Get paid within 48 hours</h3>
        <p>Each offer describes a specific result.</p>
      </div>
    </div>
  </div>
</div>
<!--
<app-video-section></app-video-section>
-->



<!--
  <ll-home-products></ll-home-products>
<app-how-it-works-ii></app-how-it-works-ii>
-->


