<div class="ll-about mt-28 mb-28">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 lg:order-last">
        <a href="javascript:void(0)" class="ll-about__img relative block">
          <img src="assets/images/about.jpg" alt="About" />
          <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">play_circle_filled</mat-icon>
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 ll-about__text">
        <h2 class="font-medium">The world's best advice from real practitioners</h2>
        <div class="mt-12">
          <h5 class="font-medium text-black">Partly real practitioners as consultants</h5>
          <p class="mt-1">With us, practitioners advise who were previously advised and who are now passing on this knowledge.</p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Not salespeople, but solution providers</h5>
          <p class="mt-1">With us you advise consultants who also implement the solutions, not just sell them.</p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Without a journey, we “call” in</h5>
          <p class="mt-1">With us, there is no need to travel to the advice center and thus the part that no consultant likes.</p>
        </div>
      </div>
    </div>
  </div>
</div>