
<div class="about-container">

<div class="pt-20" id="contactAdmin">
  <div class="container">
    <div class="grid grid-cols-12 gap-4 lg:gap-8 xxl:gap-16">
      <div class="contact__form col-span-12 lg:col-span-7">
        <div class="mb-8">
          <h3>Leave us a message</h3>
          <p>You will receive a response within 24 hours from our team.</p>
        </div>
        <form [formGroup]="contactForm">
          <div class="flex flex-wrap sm:flex-nowrap sm:space-x-5 mt-3">
            <input type="text" 
            placeholder="Your Name" 
            class="border border-gray-200 p-2 px-4 w-full sm:w-1/2 rounded-sm"
            formControlName="name" />
            <input
              type="number"
              placeholder="Your Number"
              class="border border-gray-200 p-2 px-4 w-full sm:w-1/2 rounded-sm mt-3 sm:mt-0"
              formControlName="phone"
            />
          </div>
            <input 
              type="email" 
              placeholder="Your Email"
              class="border border-gray-200 p-2 px-4 w-full rounded-sm mt-5" 
              formControlName="email" />
            <textarea
              cols="10"
              rows="3"
              placeholder="Leave your message here ..."
              class="border border-gray-200 p-3 mt-5 w-full rounded-sm mt-5"
              formControlName="message"
            >
            </textarea>
          <button 
          class="px-5 py-2 text-white mt-5 rounded font-medium"
           style="background-color: var(--purple);"
           [disabled]="contactForm.pristine || contactForm.invalid"
           (click)="addContact()">
           Send Message
          </button>
        </form>
      </div>


      <div class="col-span-12 lg:col-span-5 bg-black bg-opacity-90 text-white rounded p-8 xxl:px-16 mt-10 lg:mt-0">
        <h3>Contact info</h3>
        <div class="flex space-x-4 mt-14">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon style="color:var(--purple)">settings_phone</mat-icon>
          </div>
          <div class="flex-1">
            <a  class="text-gray-300 font-semibold hover:text-accent">(877) - 893 - 0553 </a>
            <br />
            <a class="text-gray-300 font-semibold hover:text-accent mt-2 inline-block">(317) - 972 - 9721 (whatsApp) </a>
          </div>
        </div>
        <div class="flex space-x-4 mt-8">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon style="color:var(--purple)">mail_outline</mat-icon>
          </div>
          <div class="flex-1">
            <a href="info@nationwideventures.net" class="text-gray-300 font-semibold hover:text-accent">info@nationwideventures.net</a>
            <br />
          </div>
        </div>
        <div class="flex space-x-4 mt-8">
          <div class="flex pt-1  rounded-lg">
            <mat-icon  style="color:var(--purple)" >map</mat-icon>
          </div>
          <div class="flex-1" >
            <a
              target="_blank"
              class="text-gray-300 hover:text-accent font-semibold"
            >
             8888 Keystone Crossing Ste 1300 <br />
              Indianapolis,In , 46240 
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 mt-5">
        <!-- <ll-google-location-map></ll-google-location-map> -->
      </div>
    </div>
  </div>
</div>

</div>