
<br><br> <br> <br> <br>

  <div class="py-24 bg-gray-200">
    <div>
      <h2 class="text-center mb-8">Choose your model
        to calculate the cost:</h2>
    </div>
    <div class="ll-search">
     <!-- container-->
        <div class=" overflow-hidden sm:rounded-md p-5">
          <div class="">
            <div class="flex">
              <input
                type="text"
                placeholder="I am looking for ..."
                class="flex-1 w-full sm:text-sm lg:text-xl  py-3 px-6"
                [(ngModel)]="filterBy" 
              />
            </div>
          </div>
        
        </div>
     
    </div>


      <div class="products-container">
      <div class="productt-card" *ngFor="let prod of products.slice().reverse()  | filter: filterBy:'name' "  [attr.data-index]="i">
        <div class="badge">Up to ${{prod.upPrice}}</div>
        <div class="product-tumb">
          <img src="{{prod.photo}}" alt="product picture" (click)="openPopup(prod._id)">
        </div>
        <div class="product-details">
          <span class="product-catagory">iPhone</span>
          <h4><a (click)="openPopup(prod._id)">{{prod.name}}</a></h4>
            <button class="sell-btn" mat-flat-button (click)="openPopup(prod._id)">
              Sell now
            </button>
        </div>
      </div>
    </div>
  
    
  </div> 


