<div class="grid grid-cols-12 gap-4 lg:gap-8">
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">phone_iphone</mat-icon>
		<div class="count mb-3 mt-5">
		</div>
    <h6>iPhones</h6>
    <div class="count mb-3 mt-5">
		</div>
		<div class="count mb-3 mt-5">
		</div>
    <a [routerLink]="'/dashboard-naim-adminvv1/list-products/iPhone'" class="font-semibold" mat-flat-button color="warn">
			browse products
		</a>
  </div>


  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">tablet_mac</mat-icon>
		<div class="count mb-3 mt-5">
		</div>
    <h6>iPads</h6>
		<div class="count mb-3 mt-5">
		</div>
		<div class="count mb-3 mt-5">
		</div>
    <a [routerLink]="'/dashboard-naim-adminvv1/list-products/iPad'" class="font-semibold" mat-flat-button color="warn">
			browse products
		</a>
  </div>

  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">watch</mat-icon>
		<div class="count mb-3 mt-5">
		</div>
    <h6>iWatchs</h6>
    <div class="count mb-3 mt-5">
		</div><div class="count mb-3 mt-5">
		</div>
    <a [routerLink]="'/dashboard-naim-adminvv1/list-products/iWatch'" class="font-semibold" mat-flat-button color="warn">
			browse products
		</a>
  </div>
</div>


<div class="grid grid-cols-12 gap-4 lg:gap-8">
<div class="col-span-6 md:col-span-4  px-4 lg:px-8 py-8 lg:py-16">
	
</div>

<div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
	<mat-icon class="text-accent mb-5">laptop_mac</mat-icon>
	<div class="count mb-3 mt-5">
	</div>
	<h6>iMacs</h6>
	<div class="count mb-3 mt-5">
	</div><div class="count mb-3 mt-5">
	</div>
	<a [routerLink]="'/dashboard-naim-adminvv1/list-products/Mac'" class="font-semibold" mat-flat-button color="warn">
		browse products
	</a>
</div>
<div class="col-span-6 md:col-span-4   px-4 lg:px-8 py-8 lg:py-16">
	
</div>
</div>	
