<div class="pt-20 ll-starter">
  <div class="container">
    <h2 class="text-center mb-16 xl:mb-0">Choose your device's</h2>
    <div class="grid xl:grid-cols-2 gap-x-8 mt-10">
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/category/iphone-13-pro-max.png" alt="iphone-13-pro-max"/>
        </div>
        <div class="py-5 col-span-7">
          <h4 class="text-white mb-4">iPhone</h4>
          <p class="text-white mb-7">
          </p>
          <button class="button-56"
           role="button"
           routerLink="products/list/iPhone"
           >Browse</button>
        </div>
      </div>
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/category/ipad-pro-12.png" alt="Ipad-11-pro" />
        </div>
        <div class="py-5 col-span-7 order-first text-right">
          <h4 class="text-white mb-4">iPad</h4>
          <p class="text-white mb-7">
          </p>
          <button 
          class="button-56" 
          [routerLink]="'/products/list/iPad'"
          role="button">Browse</button>
        </div>
      </div>
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/category/watch.png" alt="Iwatch" />
        </div>
        <div class="py-5 col-span-7 order-first text-right">
          <h4 class="text-white mb-4">iWatch</h4>
          <p class="text-white mb-7">
          </p>
          <button 
          class="button-56"
          [routerLink]="'/products/list/iWatch'"
          role="button">Browse</button>
        </div>
      </div>
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/category/laptop.png" alt="Mac-pro-nationwideventures" />
        </div>
        <div class="py-5 col-span-7 order-first text-right">
          <h4 class="text-white mb-4">Mac</h4>
          <p class="text-white mb-7">          </p>
          <button 
          class="button-56"
          [routerLink]="'/products/list/Mac'" 
          role="button">Browse</button>
        </div>
      </div>
    
    </div>
  </div>
</div>
